html, body
{
    height: 100%;
}

body
{
    margin: 0px;
    padding: 0px;
    background: #333333;
    font-family: 'Varela', sans-serif;
    font-size: 11pt;
    font-weight: 300;
    color: #656565;
}


h1, h2, h3
{
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: #2B3F48;
}

p, ol, ul
{
    margin-top: 0;
}

ol, ul
{
    padding: 0;
    list-style: none;
}

ul.actions
{
    text-align: center;
}

ul.actions li
{
}

p
{
    line-height: 180%;
}

strong
{
}

a
{
    color: #0000FF;
}

a:hover
{
    text-decoration: none;
    background-color: rgb(0 ,100 ,200);
}

.container
{
    overflow: hidden;
    margin: 0em auto;
}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

.image
{
    display: inline-block;
}

.image img
{
    display: block;
    width: 100%;
}

.image-full
{
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

.image-left
{
    float: left;
    margin: 0 2em 2em 0;
}

.image-centered
{
    display: block;
    margin: 0 0 2em 0;
}

.image-centered img
{
    margin: 0 auto;
    width: auto;
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

ul.staff
{
    margin-bottom: 3em;
}

ul.staff li
{
    display: inline-block;
}

ul.staff li img
{
    width: 80%;
    border-radius: 50%;
}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

ul.contact
{
    margin: 0;
    padding: 2em 0em 0em 0em;
    list-style: none;
}

ul.contact li
{
    display: inline-block;
    padding: 0em 0.30em;
    font-size: 1em;
}

ul.contact li span
{
    display: none;
    margin: 0;
    padding: 0;
}

ul.contact li a
{
    color: #FFF;
}

ul.contact li a:before
{
    display: inline-block;
    background: #3f3f3f;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    color: #FFFFFF;
}

ul.contact li a.icon-twitter:before { background: #2DAAE4; }
ul.contact li a.icon-facebook:before { background: #39599F; }
ul.contact li a.icon-dribbble:before { background: #C4376B;	}
ul.contact li a.icon-tumblr:before { background: #31516A; }
ul.contact li a.icon-rss:before { background: #F2600B; }

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button
{
    display: inline-block;
    padding: 0em 3em;
    background: rgb(0, 100, 200);
    letter-spacing: 0.20em;
    line-height: 4em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    color: #FFF;
}

.button:hover
{
    padding-top: 15px;
    display: inline-block;
    padding: 0em 3em;
    background: #424242;
    letter-spacing: 0.20em;
    line-height: 4em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    color: #FFF;
}

.button:before
{
    display: inline-block;
    background: #FFC31F;
    margin-right: 1em;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    color: #272925;
}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title
{
    margin-bottom: 3em;
}

.title h2
{
    text-transform: uppercase;
    font-size: 2.7em;
}

.title .byline
{
    font-size: 1.7em;
    color: #6F6F6F;
}

/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

.box1,
.box2,
.box3,
.box4
{
    width: 235px;
}

.box1,
.box2,
.box3,
{
    float: left;
    margin-right: 20px;
}

.box4
{
    float: right;
}

/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

.boxA,
.boxB,
.boxC
{
    width: 320px;
}

.boxA,
.boxB
{
    float: left;
    margin-right: 20px;
}

.boxC
{
    float: right;
}

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

.tbox1,
.tbox2
{
    width: 575px;
}

.tbox1
{
    float: left;
}

.tbox2
{
    float: right;
}

#wrapper
{
    background: #FFF;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper
{
    background: #333333;
}

#header
{
    position: relative;
    padding: 3em 0em;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{
    position: absolute;
    top: 1em;
    left: 0;
}

#logo h1
{
    margin-left: 50px;
    margin-top: 10px;
    color: #FFF;
}

#logo a
{
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu
{
    position: absolute;
    top: 2em;
    right: 0;
}

#menu ul
{
    display: inline-block;
}

#menu li
{
    display: block;
    float: left;
    text-align: center;
}

#menu li a, #menu li span
{
    padding: 1em 1.5em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #FFF;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
    color: #FFF;
}

#menu .current_page_item a
{
    background: rgb(0,100,200);
    color: #FFF;
}

#menu .icon
{
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner
{
    overflow: hidden;
    padding: 7em 0em 5em 0em;
    background: #202020;
    background-size: cover;
    text-align: center;
    color: rgba(255,255,255,.8);
}

#banner .title
{
    margin-bottom: 1em;
    text-transform: uppercase !important;
}

#banner .title h2
{
    color: #FFF;
}

#banner .title .byline
{
    color: rgba(255,255,255,.6);
}

#banner .button
{
    margin-top: 3em;
    background: #009E2D !important;
}

#banner .button:hover
{
    margin-top: 3em;
    background: rgb(0,100,200)!important;
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#page
{
    padding: 5em 0em;
    text-align: center;
}

#page .button
{
    margin-top: 2em;
    display: inline-block;
    text-align: center;
}

#page .button:hover
{   
    margin-top: 2em;
    display: inline-block;
    text-align: center;
    background: #424242;
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

#content
{
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

#sidebar
{
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer
{
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright
{
    overflow: hidden;
    padding: 5em 0em;
    border-top: 1px solid rgba(255,255,255,0.08);
}

#copyright p
{
    text-align: center;
    font-size: 1em;
    color: rgba(255,255,255,0.5);
}

#copyright a
{
    text-decoration: none;
    color: rgba(255,255,255,0.8);
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

#featured
{
    overflow: hidden;
    padding: 5em 0em;
    background: rgb(0,100,200);
    color: rgba(255,255,255,.8);
    text-align: center;
}

#featured a
{
    color: rgba(0,0,0,1);
}

#featured .button
{
    background: #FFF;
    margin-top: 3em;
    font-size: 1em;
    color: #424242;
}

#featured .button:hover
{
    background: #424242;
    margin-top: 3em;
    font-size: 1em;
    color: rgb(255,255,255);
    
}


#featured .title
{
}

#featured .title h2
{
    color: #FFF;
}

#featured .title .byline
{
    color: rgba(255,255,255,.6);
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

.box
{
    padding: 3em 2em 2em 2em;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
}


#extra
{
    overflow: hidden;
    padding: 5em 0em;
}

#extra .title
{
    text-align: center;
}

#extra .button
{
    margin-top: 5em;
}

#extra .fa
{
    display: block;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 3em;
}

/******************************************************************************/
/*                               FORMS&INPUT                                  */
/******************************************************************************/

.form_style
{
    box-sizing: border-box;
    overflow: hidden;
    padding: 7em 0em 5em 0em;
    background: #202020;
    background-size: cover;
    text-align: center;
    color: rgba(255,255,255,.8);
    font-family: 'Varela', sans-serif;
}

.form_style #text {
       
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 300px;
    height: 50px;
    padding: 8px;
/*    -webkit-border-radius:6px;
    -moz-border-radius:6px;*/
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    font-family: 'Varela', sans-serif;
}

.form_style #textfield {
       
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 300px;
    height: 150px;
    padding: 8px;
/*    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;*/
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    font-family: 'Varela', sans-serif;
}

.form_style #button
{
    display: inline-block;
    padding: 0em 2em;
    background: #fff;
    letter-spacing: 0.20em;
    line-height: 3em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    color: #333333;
}


.form_style #button:hover
{
    display: inline-block;
    padding: 0em 2em;
    background: rgb(0,100,200);
    letter-spacing: 0.20em;
    line-height: 3em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    color: #FFF;
}

.fault
{
    text-align: right;
    font-size: 1em;
    color: rgba(200,0,0,0.5);
    
}

.msg_info
{
    text-align: left;
    font-size: 15px;
    color: #3f3f3f;
    
}

.formlabel{
    font-size: 3em;
}

.msg_etiket {
    padding: 1em 1em;
    background: #2DAAE4 !important;
    letter-spacing: 0.20em;
    line-height: 1em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 10px;
    width:10px;
    height:10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    color: #fff !important;
    margin: 10px auto;
}

.msg_menu {
    margin-left: 0px;
    width: 200px;
    height: 100%;
    background: rgb(0 ,100 ,200);
    overflow: hidden;
    display: inline-block;
    
}

.msg_menu #title{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background: rgb(0,150,200);
    margin-bottom: 16px;
    display: inline-block;
    height: 40px;
    width: 200px;
}

.msg_item_unread {
   
    font-weight: bold;
    color: #424242;
    margin: 0px auto;
    background: #fff;
    width: 200px;
    padding: 0px 0px;
    height: 50px;
    display: block;
    text-align: center;
}

.msg_item_unread:hover {
   
    font-weight: bold;
    color: #fff;
    margin: 0px auto;
    background: #424242;
    width: 200px;
    padding: 0px 0px;
    height: 50px;
    display: block;
    text-align: center;
}
.msg_item_read {
   
    font-weight: bold;
    color: #424242;
    margin: 0px auto;
    background: #fff;
    width: 200px;
    padding: 0px 0px;
    height: 50px;
    display: block;
    text-align: center;
}

.msg_item_read:hover {
   
    font-weight: 100;
    color: #fff;
    margin: 0px auto;
    background: #424242;
    width: 200px;
    padding: 0px 0px;
    height: 50px;
    display: block;
    text-align: center;   
}
.msg_item_selected {
   
    font-weight: 100;
    color: #fff;
    margin: 0px auto;
    background: #424242;
    width: 200px;
    padding: 0px 0px;
    height: 50px;
    display: block;
    text-align: center;
    
}

.message_content {
    width: 800px;
    height: 540px;
    margin-left: 50px;
    margin_top: 0px;
    background-color: #fff;
    color: #3f3f3f;
    font-family: 'Varela', sans-serif;
}

.message_content #content{
    width: 700px;
    height: 400px;
    margin-left: 50px;
    background-color: #cccccc;
    color: #3f3f3f;
    font-family: 'Varela', sans-serif;
}

.message_title{
    width: 700px;
    height: 50px;
    margin-left: 50px;
    background-color: #cccccc;
    color: #3f3f3f;
    font-family: 'Varela', sans-serif;
    font-size: 20px;
    border-bottom: #202020 solid 2px;
}

.msg_button {
    margin-left: 50px;
    margin-top: 10px;
    width: 100px;
    height: 60px;
    background-color: #2DAAE4;
    color: #3f3f3f;
    font-family: 'Varela', sans-serif;
    font-size: 20px;
}

.art_upload {
    border: 2px solid #AAA;
    border-radius: 4px;
    padding: 2px 5px;
    margin: 2px;
    background: #DDD;
    display: inline-block;
}
/*ARTICLES*/

.article_blue {
    width: 100%;
    height: 500px;
    background-color: #0064c8; 
}

.article_white {
    width: 100%;
    height: 500px;
    background-color: #FFF;
}

.article_blue #title {
    font-size: 32px;
    color: #fff;
    font-family: 'Varela', sans-serif;
    font-weight: bold;
    text-transform: uppercase;

}

.article_white #title{
    font-size: 32px;
    color: #3f3f3f;
    font-family: 'Varela', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.article_left_img {
    margin-left: 60px;
}

.article_right_img {
    margin-left: 50px;
}

.article_left_img img {
    margin-top: 50px;  
    width: 380px;
    height: 400px;
    border-right: #31516A solid 30px;
}

.article_right_img img {
    margin-top: 50px;  
    width: 380px;
    height: 400px;
    border-left: #31516A solid 30px;
}

.article_left_img a:hover , .article_right_img a:hover{
    background-color: #6F6F6F;
    opacity: .5;
    overflow: hidden;
}

.article_text_field {
    margin-top: 50px;
    margin-left: 50px;
}

.article_left_read {
    background-color: #2DAAE4;
    width: 100px;
    height: 400px;
    margin-top: 50px;
    margin-left: 50px;
    display:block;
    text-align: center;
    text-align-last: center;
    text-transform: uppercase;
    line-height: 400px;
    font-size: 0px;
    border-left: #31516A solid 30px;
}

.article_left_read:hover {
    background-color: #6F6F6F;
    width: 100px;
    border-left: #424242 solid 30px;
    height: 400px;
    margin-right: 0px;
    margin-top: 50px;
    display:block;
    text-align: center;
    text-align-last: center;
    text-transform: uppercase;
    line-height: 400px;
    font-size: 20px;
    color: #fff;
}

.article_right_read {
    background-color: #2DAAE4;
    width: 100px;
    height: 400px;
    margin-top: 50px;
    margin-left: 60px;
    display:block;
    text-align: center;
    text-align-last: center;
    text-transform: uppercase;
    line-height: 400px;
    font-size: 0px;
    border-right: #31516A solid 30px;
}

.article_right_read:hover {
    background-color: #6F6F6F;
    width: 100px;
    border-right: #424242 solid 30px;
    height: 400px;
    margin-left: 60px;
    margin-top: 50px;
    display:block;
    text-align: center;
    text-align-last: center;
    text-transform: uppercase;
    line-height: 400px;
    font-size: 20px;
    color: #fff;
}

.article_blue #text {
    text-align: justify;
    font-size: 18px;
    font-family: 'Varela', sans-serif;
    color: #fff;
    font-weight: 200;
    margin-top: 20px;  
}

.article_white #text {
    text-align: justify;
    font-size: 18px;
    font-family: 'Varela', sans-serif;
    color: #3f3f3f;
    font-weight: 200;
    margin-top: 20px;  
}

/*ABOUT ME*/

.abm_c_head {
    height: 300px;
    width: auto;
    background-color: #0064c8;
}

.abm_logo_me {
    background: url("images/hov_resim_250x250.png");
    border: #39599F solid 5px;
    height: 250px;
    width: 250px;
    margin-left: 50px;
    margin-top: 20px;
}

.abm_textarea_white {
    width: 600px;
    height: 100%;
    font-family: 'Varela', sans-serif;
    color: #fff;
}

.abm_textarea_dark {
    width: 600px;
    height: 100%;
    font-family: 'Varela', sans-serif;
    color: #3f3f3f;
    
}

.abm_textarea_dark #title, .abm_textarea_white #title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-left: 50px;
}

.abm_textarea_dark #text, .abm_textarea_white #text{
    font-size: 20px;
    font-weight: normal;
    text-align: justify;
    padding-left: 50px;
    width: 600px;
}

.abm_sub_title {
    color: #fff;
    text-align: center;
    font-size: 50px;
    background-color: blueviolet;
    font-family: 'Varela', sans-serif;
    height: 75px;
    width: 100%;
    margin: auto;
    
}

.abm_white {
    height: 300px;
    width: auto;
    background-color: #fff;
    font-family: 'Varela', sans-serif;
    color: #272925;
}

.abm_blue {
    height: 300px;
    width: auto;
    background-color: #0064c8;
    font-family: 'Varela', sans-serif;
    color: #fff;
}

.artadm_white {
    height: auto;
    width: auto;
    background-color: #fff;
    font-family: 'Varela', sans-serif;
    color: #272925;
    padding-bottom: 20px;
    padding-top: 20px;
}

.artadm_blue {
    height: auto;
    width: auto;
    background-color: #0064c8;
    font-family: 'Varela', sans-serif;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
}

.abm_image{
    height: 200px;
    margin-top: 45px;
    width: 300px;
    margin-left: 50px;
    border: #6F6F6F thick solid;
}

.abm_image #img {
    margin: auto;
    width: 300px;
    height: 200px;;
}

.abm_textarea_dark #title_low, .abm_textarea_white #title_low{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-left: 50px;
    line-height: 100%;
    width: 600px;
}

.abm_textarea_dark #text_low, .abm_textarea_white #text_low{
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
    padding-left: 50px;
    line-height: 100%;
    margin-top: 10px;
    width: 600px;
}

.cv {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.cv:hover {
    color: #3f3f3f;
}

.link_grey {
    color: #3f3f3f;
    text-transform: uppercase;
    text-decoration: none;
}

.link_grey:hover {
    color: #F2600B;
    background-color: #fff;
}

.link_white {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.link_white:hover {
    color: #F2600B;
    background-color: #0064c8;
}

/*FORM 2*/

.art_button {
    margin-left: 50px;
    font-weight: bold;
    color: #424242;
    background: #fff;
    width: 400px;
    padding: 0px 0px;
    height: 50px;
    display: block;
    text-align: center;
}

.art_button:hover {
    margin-left: 50px;
    font-weight: bold;
    color: #fff;
    background: #2DAAE4;
    width: 400px;
    padding: 0px 0px;
    height: 50px;
    display: block;
    text-align: center;
}

.art_textfield_form {
    border: #202020 solid 0px;
    margin-left: 50px;
    font-weight: bold;
    color: #424242;
    background: #fff;
    width: 400px;
    padding: 0px 0px;
    height: 300px;
    display: block;
    text-align: justify;
    padding-left: 20px;
    padding-top: 20px;
    font-family: 'Varela', sans-serif;
}

.art_textfield_form:focus  {
    border: #202020 solid 5px;
    margin-left: 50px;
    font-weight: bold;
    color: #424242;
    background: #cccccc;
    width: 400px;
    padding: 0px 0px;
    height: 300px;
    display: block;
    text-align: justify;
    padding-left: 20px;
    padding-top: 20px;
    font-family: 'Varela', sans-serif;
}

.art_title_label {
    margin-left: 50px;
    font-weight: bold;
    color: #424242;
    width: 400px;
    padding: 0px 0px;
    display: block;
    text-align: justify;
    padding-left: 20px;
    font-family: 'Varela', sans-serif;
}

.art_title_form {
    border: #202020 solid 0px;
    margin-left: 50px;
    font-weight: bold;
    color: #424242;
    background: #fff;
    width: 400px;
    padding: 0px 0px;
    height: 50px;
    display: block;
    text-align: justify;
    padding-left: 20px;
    font-family: 'Varela', sans-serif;
}
.art_title_form:focus {
    border: #202020 solid 5px;
    margin-left: 50px;
    font-weight: bold;
    color: #424242;
    background: #cccccc;
    width: 400px;
    padding: 0px 0px;
    height: 50px;
    display: block;
    text-align: justify;
    padding-left: 20px;
    font-family: 'Varela', sans-serif;
}

.article_blue_form {
    width: 100%;
    height: 750px;
    background-color: #0064c8; 
}

.article_blue_form_2 {
    width: 600px;
    height: 1200px;
    background-color: #0064c8; 
}

.art_textfield_form_small {
    border: #202020 solid 0px;
    margin-left: 50px;
    font-weight: bold;
    color: #424242;
    background: #fff;
    width: 400px;
    padding: 0px 0px;
    height: 100px;
    display: block;
    text-align: justify;
    padding-left: 20px;
    padding-top: 20px;
    font-family: 'Varela', sans-serif;
}

.art_textfield_form_small:focus  {
    border: #202020 solid 5px;
    margin-left: 50px;
    font-weight: bold;
    color: #424242;
    background: #cccccc;
    width: 400px;
    padding: 0px 0px;
    height: 100px;
    display: block;
    text-align: justify;
    padding-left: 20px;
    padding-top: 20px;
    font-family: 'Varela', sans-serif;
}

.msg_menu #news, .msg_menu #olds{
        list-style: none;
}

.editBtnWhite {
    width: 100px;
    height: 40px;
    font-size: 20px;
    background-color: #fff;
    color: #3f3f3f;
    font-family: 'Varela', sans-serif;
    margin-left: 50px;
    margin-top: 50px;
    text-decoration: none;
    text-transform: uppercase;
}

.editBtnWhite:hover {
    background-color: #3f3f3f;
    color: #fff;
    border-left: #656565 solid 5px;
}

.editBtnDark {
    width: 100px;
    height: 40px;
    font-size: 20px;
    background-color: #3f3f3f;
    color: #fff;
    font-family: 'Varela', sans-serif;
    margin-left: 50px;
    margin-top: 50px;
    text-decoration: none;
    text-transform: uppercase;
}

.editBtnDark:hover {
    background-color: #0064c8;
    color: #fff;
    border-left: #0000FF solid 5px;
}

.star {
    height: 20px;
    width: 20px;
}

.star_field {
    margin-left: 50px;
    margin-top: 10px;
}

.star_field #text_low {
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
    padding-left: 50px;
    line-height: 100%;
    margin-top: 10px;
    width: 600px;
}

.edit_button_white {
    width: 100px;
    height: 40px;
    background-color: #fff;
    color: #3f3f3f;
    font-size: 20px;
}

.edit_button_white:hover {
    background-color: #3f3f3f;
    color: #fff;
}

.edit_button_dark {
    width: 100px;
    height: 40px;
    background-color: #3f3f3f;
    color: #fff;
    font-size: 20px;
}

.edit_button_dark:hover {
    background-color: #fff;
    color: #3f3f3f;
}